*.py[cod]
.coverage
.dynamodb
.idea
.project
.pytest_cache
.serverless
__pycache__/
build
node_modules
pytest_results.xml
venv

### Terraform ###
# Local .terraform directories
**/.terraform/*
tfplan
**/.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# serverless wsgi
.serverless-wsgi
serverless_wsgi.py
wsgi_handler.py

# Crash log files
crash.log
